<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <div class="bg"> -->

<!-- <div style="lighting-color: aliceblue;">
                <form [formGroup]="stateForm">
                        <mat-form-field>
                          <input type="text" matInput placeholder="search" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
                            <mat-autocomplete #autoGroup="matAutocomplete">
                              <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                                <mat-option *ngFor="let name of group.names" [value]="name">
                                  {{name}}
                                </mat-option>
                            </mat-optgroup>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
           </div>  -->
<!-- <div class="container">
            <form [formGroup]="searchLocationForm"  (ngSubmit)="search()" class="form-inline md-form mr-auto mb-4">
                <input formControlName="location_name" class="form-control mr-sm-2" type="search"
                    placeholder="Search for location" aria-label="Search">
                <button class="btn btn-outline-primary btn-sm" type="submit" >Search</button>
            </form>
        </div> -->

<style>
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 200vh;
  }

  #sidebar.active {
    margin-left: -250px;
  }
</style>

<div [ngSwitch]="weather.periods['2']?.reading.weatherType">
  <div *ngSwitchCase="7">
    <div style="background: url('../assets/images/bg12.jpg');">
      <!-- content start -->

      <div class="wrapper col">
        <div>
          <!-- Sidebar  -->
          <nav id="sidebar" class="op">
            <div class="sidebar-header bac">
              <h3>Platter</h3>
              <strong>BS</strong>
            </div>

            <ul class="list-unstyled components op bac">
              <li class="active">
                <a
                  href="#homeSubmenu"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle"
                >
                  <i class="fas fa-street-view"></i>
                  Find
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a [routerLink]="['/average']" routerLinkActive="active"
                      >Country</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                
                <a
                  href="#pageSubmenu"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle"
                >
                  <i class="fas fa-address-book"></i>
                  Team ADEPa
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                    <a href="#">Alex</a>
                  </li>
                  <li>
                    <!-- <a [routerLink]="['/https://www.linkedin.com/in/dawud-ibrahim-ismail-96378713a/']" routerLinkActive="router-link-active">Dawud</a> -->
                  </li>
                  <li>
                    <a href="#">Erbynn</a>
                  </li>
                  <li>
                    <a href="#">Patricia</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <router-outlet></router-outlet>

        <!-- content end -->
      </div>
    </div>

    <!-- case2 -->
    <!-- <content begins> -->
    <div *ngSwitchCase="2">
      <div style="background: url('../assets/images/bg3.jpeg');">
        <!-- content start -->

     

        <div class="wrapper col">
          <div>
            <!-- Sidebar  -->
            <nav id="sidebar" class="op">
              <div class="sidebar-header bac">
                <h3>Platter...</h3>
                <strong>BS</strong>
              </div>

              <ul class="list-unstyled components op bac">
                <li class="active">
                  <a
                    href="#homeSubmenu"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle"
                  >
                    <i class="fas fa-street-view"></i>
                    Find
                  </a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                      <a href="#">Country</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Help tools
                  </a>
                  <a
                    href="#pageSubmenu"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle"
                  >
                    <i class="fas fa-address-book"></i>
                    Team ADEPa
                  </a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                      <a href="#">Alex</a>
                    </li>
                    <li>
                      <a
                        [routerLink]="[
                          '/https://www.linkedin.com/in/dawud-ibrahim-ismail-96378713a/'
                        ]"
                        routerLinkActive="router-link-active"
                        >Dawud</a
                      >
                    </li>
                    <li>
                      <a href="#">Erbynn</a>
                    </li>
                    <li>
                      <a href="#">Patricia</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-podcast"></i>
                    Subscribe
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                  </a>
                </li>
              </ul>

              <ul class="list-unstyled CTAs">
                <li>
                  <a
                    href="https://bootstrapious.com/tutorial/files/sidebar.zip"
                    class="download"
                    >Download latest update</a
                  >
                </li>
                <li>
                  <a
                    href="https://bootstrapious.com/p/bootstrap-sidebar"
                    class="article"
                    >Map</a
                  >
                </li>
              </ul>
            </nav>
          </div>

          <router-outlet></router-outlet>

          <!-- content end -->
        </div>
      </div>
    </div>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  </div>
</div>
