<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="bg">
<nav class="navbar op navbar-expand-lg navbar-light bg-dark shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a class="navbar-brand" href="#">Welcome</a> -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

           <div class="container">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link op" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item op">
                  <a class="nav-link" href="#">Countries</a>
                </li>
                <li class="nav-item op">
                  <a class="nav-link" href="#">Counties</a>
                </li>
                <li class="nav-item op">
                  <a class="nav-link" href="#">Cities</a>
                </li>
                <li>
                  
                </li>
              </ul>
            </div>
          </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="wrapper">
  <div>
  <!-- Sidebar  -->
  <nav id="sidebar" class="op">
      <div class="sidebar-header">
          <h3>Platter</h3>
          <strong>BS</strong>
      </div>

      <ul class="list-unstyled components op">
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-home"></i>
                  Home
              </a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Home 1</a>
                  </li>
                  <li>
                      <a href="#">Home 2</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-briefcase"></i>
                  Register
              </a>
              <a href= "#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-copy"></i>
                  Pages
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-image"></i>
                  Portfolio
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-question"></i>
                  FAQ
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-paper-plane"></i>
                  Contact
              </a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download latest update</a>
          </li>
          <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Map</a>
          </li>
      </ul>
  </nav>
</div>

<div class="grid-auto-rows: auto; col mb-10">
  <div><h1>Accra</h1></div>
  <div><h3>Ghana</h3></div>
  <div><h6><p>Please pray before you sleep tonight</p></h6></div>
</div>
<div style="margin-top: 400px; display: flex;flex-direction: row;">
  <div class="grid-auto-rows: auto;">
    <!--Form-->
    
    <div class="card wow fadeInRight op" data-wow-delay="0.3s">
      <div class="card-body">
        <!--Header-->
        <div class="text-left">
          <h5 class="white-text">
            <i class=""></i> Forecast</h5>
          <hr class="hr-light">
        </div>
        <table class="table">
            <thead>
                <th>Time</th>
                <th> Temp</th>
                <th>Prec.</th>
                <th>Feels</th>
              </thead>
            <tbody>
              <tr>
                <th scope="row">12:00am</th>
                <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/fair_night@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                <td>30%</td>
              </tr>
              <tr>
                <th scope="row">03:00am</th>
                <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/mostly_cloudy_day_night@2x (1).png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                <td>46</td>
              </tr>
              <tr>
                <th scope="row">06:00am</th>
                <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/partly_cloudy_day@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                <td>50miles</td>
              </tr>
              <tr>
                <th scope="row">09:00am</th>
                <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/clear_day@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                <td>Low</td>
              </tr>
              <tr>
                  <th scope="row">12:00pm</th>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/fair_night@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_70@2x.png" alt="">70%</td>
                  <td>Low</td>
                </tr>
                <tr>
                    <th scope="row">03:00pm</th>
                    <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/partly_cloudy_day@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                    <td>Low</td>
                  </tr>
                  <tr>
                      <th scope="row">06:00pm</th>
                      <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/clear_day@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_0@2x.png" alt="">0%</td>
                      <td>Low</td>
                    </tr>
                    <tr>
                        <th scope="row">09:00pm</th>
                        <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_day_night@2x.png" alt="RaraS"></td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_70@2x.png" alt="">70%</td>
                        <td>Low</td>
                      </tr>
                      <tr>
                          <th scope="row">12:00am</th>
                          <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/mostly_cloudy_day_night@2x (1).png" alt="RaraS"></td>
                          <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                          <td>Low</td>
                        </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
<!-- p-3 mb-2 bg-transparent white-text -->
<!-- <div class="col-md-6 col-xl-5 mb-4 "> -->
    <div class="grid-auto-rows: auto; col-md-6">
    
    <!--Form-->
  <div>
    <div class="card wow fadeInRight op" data-wow-delay="0.3s">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h5 class="white-text">
            <i class=""></i> Details</h5>
          <hr class="hr-light">
        </div>
        <!--Body-->
        <div class="wrapper">
        <div class="md-form">
        
          <div class="card wow fadeInRight bg-transparent" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-5"><img style="width: 100%;" src="/assets/images/weather.jpg" alt="rg"></div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Humidity</th>
                        <td>30%</td>
                      </tr>
                      <tr>
                        <th scope="row">Feels like</th>
                        <td>46</td>
                      </tr>
                      <tr>
                        <th scope="row">Visibility</th>
                        <td>50miles</td>
                      </tr>
                      <tr>
                        <th scope="row">UV Index</th>
                        <td>Low</td>
                      </tr>
                    </tbody>
                  </table>
              <!-- <p></p>
              <p></p>
              <p></p>
              <p></p> -->
            </div>
            <!-- <div class="col-5"> -->
                <!-- <p></p>
                <p></p>
                <p></p>
                <p></p> -->
            <!-- </div> -->
          </div>
      </div>
    </div>
       
          <!-- <i class="fas fa-cloud prefix white-text active"></i>  -->
          <hr class="hr-light mb-3 mt-4">
          <table class="table">
              <tbody>
                <tr>
                  rfdghk dgfh fghgjuhmb fgbvhfd fdgtukjk grhgnhgdf vhncvjh.
                </tr>
                </tbody>
                </table>
                <hr class="hr-light mb-3 mt-4">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
      <!--Header-->
      <div class="text-center">
        <h5 class="white-text">
          <i class=""></i> Wind and pressure</h5>
        <hr class="hr-light">
      </div>
    </div>
</div>
</div>
</div>
</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>