<div class="container" style="padding-left: 40px;">
    <div>
        <h3>Averages <small>(temperature, humidity, wind speed, weather type)</small></h3>
        <hr>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h4>Wales</h4>
                </div>
                <div class="card-body text-primary ">
                    <h3 class="card-title">30°C &nbsp;|&nbsp; 4kmp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h4>North Ireland</h4>
                </div>
                <div class="card-body text-primary">
                    <h3 class="card-title">30 &nbsp;|&nbsp; 4</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h4>Wales</h4>
                </div>
                <div class="card-body text-primary">
                    <h3 class="card-title">30°C &nbsp;|&nbsp; 4kmp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h4>Wales</h4>
                </div>
                <div class="card-body text-primary">
                    <h3 class="card-title">30°C &nbsp;|&nbsp; 4kmp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h4>Channel of Isle</h4>
                </div>
                <div class="card-body text-primary">
                    <h3 class="card-title">30°C &nbsp;|&nbsp; 4kmp</h3>
                </div>
            </div>
        </div>
    </div>
</div>