<div class="col">
  <div class="row">
  <div class="col-7">
  <div class="grid-auto-rows: auto; col mb-10">
    <div><h1><p> {{ weather.name }} </p></h1></div>

    <!-- <div><h3>Ghana</h3></div> -->
    <div><h6><p>Please eat before you sleep tonight</p></h6></div>
    <div>
      <h1 style="color:antiquewhite;">
        <i class="fas fa-thermometer-half">

        </i> {{ weather.periods[1].reading.temperature }} °C</h1></div>
    <!-- <div><h1 style="color:antiquewhite;"><i class="fas fa-thermometer-half"></i> {{ mock.periods[0].reading.temperature }} °C</h1></div> -->

    <div><h6><p>Pick your umbrella</p></h6></div>
    <!-- <div><h6>There will be heavy rainfall from dawn to evening.</h6></div> -->
    <div><h6><p>View map for location</p></h6></div>

    <!-- <button type="button" class="btn btn-outline-success" (click)="Info(msg)">Trigger</button> -->

  </div>
</div>
  <div class="col-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.553793177251!2d-0.23769099999999996!3d5.6326808999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9954d603e5b3%3A0xd24eb41c04c54f63!2sturntabl!5e0!3m2!1sen!2sgh!4v1576499402655!5m2!1sen!2sgh" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <div class=" col-6" style="margin-top: 20px; display: flex;flex-direction: row;">
      <div class="grid-auto-rows: auto;">
      <!--Form-->
      <div class="card wow fadeInRight op" data-wow-delay="0.3s">
        <div class="card-body">
          <!--Header-->
          <div class="text-center">
            <h5 class="white-text">
              <i class=""></i> Forecast</h5>
            <hr class="hr-light">
          </div>
    
            <!-- <div>
              <div>{{weather.periods[0].reading.weatherType}}</div>
            </div> -->
    
          
          <table class="table">
              <thead>
                  <th>Time</th>
                  <th>Weather</th>
                  <th>Temp</th>
                  <th>Prec.</th>
                  <th>Feels Like(°C)</th>
                </thead>
              <tbody>
                  <tr *ngFor = "let data of weather.periods; let serial = index;">
                      <th scope="row">{{data?.timestamp}}</th>
                      <!-- <td><img style="height: 50%; width: 30%;" 
                        class="img-responsive" src="/assets/images/fair_night@2x.png" 
                        alt="RaraS">{{ data.reading.weatherType }}</td> -->

                        <div [ngSwitch]="weather.periods[serial]?.reading.weatherType">
                            <td *ngSwitchCase=0><img style="width: 100%;" src="/assets/images/clear_night.png" alt="rg"></td>
                            <td *ngSwitchCase=1><img style="width: 100%;" src="/assets/images/clear_day.png" alt="rg"></td>
                            <td *ngSwitchCase=2><img style="width: 100%;" src="/assets/images/partly_cloudy_night.png" alt="rg">)</td>
                            <td *ngSwitchCase=3><img style="width: 100%;" src="/assets/images/partly_cloudy_day.png" alt="rg"></td>
                            <td *ngSwitchCase=5>Mist</td>
                            <td *ngSwitchCase=6><img style="width: 100%;" src="/assets/images/partly_cloudy_day.png" alt="rg"></td>
                            <td *ngSwitchCase=7><img style="width: 100%;" src="/assets/images/mostly_cloudy_day_night.png" alt="rg"></td>
                            <td *ngSwitchCase=8>Overcast</td>
                            <td *ngSwitchCase=12><img style="width: 100%;" src="/assets/images/rain_day_night.png" alt="rg"></td>
                            <td *ngSwitchCase=13><img style="width: 100%;" src="/assets/images/rain_day_night.png" alt="rg"></td>                            
                            <td *ngSwitchCase=14><img style="width: 100%;" src="/assets/images/rain_day_night.png" alt="rg"></td>
                            <td *ngSwitchCase=15><img style="width: 100%;" src="/assets/images/thundershowers_day_night.png" alt="rg"> </td>                            
                            <td *ngSwitchCase=16><img style="width: 100%;" src="/assets/images/snow_shower.png" alt="rg"> </td>
                            <td *ngSwitchCase=18><img style="width: 100%;" src="/assets/images/snow_shower.png" alt="rg"> </td>
                            <td *ngSwitchCase=19><img style="width: 100%;" src="/assets/images/snow_shower.png" alt="rg"> </td>
                            <td *ngSwitchCase=20><img style="width: 100%;" src="/assets/images/scatered_day_night.png" alt="rg"> </td>
                            <td *ngSwitchCase=21>Hail </td>
                            <td *ngSwitchCase=22><img style="width: 100%;" src="/assets/images/snow_shower.png" alt="rg"> </td>

                        </div>
                        <!-- <td><img style="height: 50%; width: 30%;" 
                          class="img-responsive" src="/assets/images/fair_night@2x.png" 
                          alt="RaraS" *ngIf="data.reading.weatherType <= 6"> Cloudy
                        </td> -->
                      <td>{{data?.reading.temperature}} °C</td>
                      <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">{{ data.reading.precipitationProb }}</td>
                      <td>{{data.reading.feelsGoodTemp}}</td>
                    </tr>

                <!-- <tr>
                  <th scope="row">12:00am</th>
                  <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/fair_night@2x.png" alt="RaraS"></td>
                  <td>30&</td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                  <td>30%</td>
                </tr> -->
                <!-- <tr>
                  <th scope="row">03:00am</th>
                  <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/mostly_cloudy_day_night@2x (1).png" alt="RaraS"></td>
                  <td>30&</td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                  <td>46</td>
                </tr> -->
                <!-- <tr>
                  <th scope="row">06:00am</th>
                  <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/partly_cloudy_day@2x.png" alt="RaraS"></td>
                  <td>30&</td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                  <td>50miles</td>
                </tr> -->
                <!-- <tr>
                  <th scope="row">09:00am</th>
                  <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/clear_day@2x.png" alt="RaraS"></td>
                  <td>30&</td>
                  <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_40@2x.png" alt="">40%</td>
                  <td>Low</td>
                </tr> -->
                <!-- <tr>
                    <th scope="row">12:00pm</th>
                    <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/fair_night@2x.png" alt="RaraS"></td>
                    <td>30&</td>
                    <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_70@2x.png" alt="">70%</td>
                    <td>Low</td>
                  </tr> -->
                  <!-- <tr>
                      <th scope="row">03:00pm</th>
                      <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/partly_cloudy_day@2x.png" alt="RaraS"></td>
                      <td>30&</td>
                      <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                      <td>Low</td>
                    </tr> -->
                    <!-- <tr>
                        <th scope="row">06:00pm</th>
                        <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/clear_day@2x.png" alt="RaraS"></td>
                        <td>30&</td>
                        <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_0@2x.png" alt="">0%</td>
                        <td>Low</td>
                      </tr> -->
                      <!-- <tr>
                          <th scope="row">09:00pm</th>
                          <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/rain_day_night@2x.png" alt="RaraS"></td>
                          <td>30&</td>
                          <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_70@2x.png" alt="">70%</td>
                          <td>Low</td>
                        </tr> -->
                        <!-- <tr>
                            <th scope="row">12:00am</th>
                            <td><img style="height: 50%; width: 30%;" class="img-responsive" src="/assets/images/mostly_cloudy_day_night@2x (1).png" alt="RaraS"></td>
                            <td>30&</td>
                            <td><img style="height: 50%; width: 50%;" class="img-responsive" src="/assets/images/rain_ico_60@2x.png" alt="">60%</td>
                            <td>Low</td>
                          </tr> -->
              </tbody>
            </table>
        </div>
      </div>
  </div>
  <!-- p-3 mb-2 bg-transparent white-text -->
  <!-- <div class="col-md-6 col-xl-5 mb-4 "> -->
      <div class="grid-auto-rows: auto; col row-2">
      <!--Form-->
    <div class="">
      <div class="card wow fadeInRight op" data-wow-delay="0.3s">
        <div class="card-body">
          <!--Header-->
          <div class="text-center">
            <h5 class="white-text">
              <i class=""></i> Details</h5>
            <hr class="hr-light">
          </div>
          <!--Body-->
          <div class="wrapper">
          <div class="md-form">
          
            <div class="card wow fadeInRight bg-transparent" data-wow-delay="0.3s">
      <div class="container">
          <div class="row col">
              <div class="col-5">
                  <div [ngSwitch]="weather.periods[2].reading.weatherType">
                      <div *ngSwitchCase="7"><img style="width: 100%;" src="/assets/images/mostly_cloudy_day_night.png" alt="rg"></div>
                      <div *ngSwitchCase="5"><img style="width: 100%;" src="/assets/images/partly_cloudy_day.png" alt="rg"></div>
                      <div *ngSwitchCase="6"><img style="width: 100%;" src="/assets/images/fair_night.png" alt="rg"></div>
                  </div>
              </div>
              <div class="col-4">
                  <table class="table  row-8">
                      <tbody>
                        <tr>
                          <th scope="row">Humidity</th>
                          <td>  {{ weather.periods[2].reading.humidity }}%  </td>
                        </tr>
                        <tr>
                          <th scope="row">Feels like</th>
                          <td> {{ weather.periods[2].reading.feelsGoodTemp }} </td>
                        </tr>
                        <tr>
                          <th scope="row">Visibility</th>
                          <div [ngSwitch]="weather.periods[0].reading.visibility">
                              <td *ngSwitchCase="'MO'">Moderate</td>
                              <td *ngSwitchCase="'UN'">Sunny day</td>
                              <td *ngSwitchCase="'VP'">Very Poor</td>
                              <td *ngSwitchCase="'GO'">Good</td>
                              <td *ngSwitchCase="'VG'">Very Good</td>
                              <td *ngSwitchCase="'EX'">Excellent</td>
                            </div>
                          <!-- <td> {{ weather.periods[0].reading.visibility }} </td> -->
                        </tr>
                        <tr>
                          <th scope="row">UV Index</th>
                          <td> {{ weather.periods[0].reading.MaxUVIndex }} </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
        </div>
      </div>
            <hr class="hr-light mt-1">
            <table class="table">
                <tbody>
                  <tr>
                    live data 
                  </tr>
                  </tbody>
                  </table>
                  <hr class="hr-light mt-1">
          </div>
        </div>
      </div>
    </div>
  
    <div style="margin-top: 15px; display: flex;flex-direction: row;">
  <div class="card wow fadeInRight op" data-wow-delay="0.3s">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h5 class="white-text">
            <i class=""></i>Wind and Direction</h5>
          <hr class="hr-light">
        </div>
        <!--Body-->
        <div class="wrapper">
        <div class="md-form">
        
          <div class="card wow fadeInRight bg-transparent" style="width: 25rem; height: 9rem;" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Wind Direction</th>
                        <td> {{ weather.periods[0].reading.windDirection }} </td>
                      </tr>
                      <tr>
                        <th scope="row">Wind Gust</th>
                        <td>  {{ weather.periods[0].reading.windGust }} Fairly Good</td>
                      </tr>
                      <tr>
                        <th scope="row">Wind Speed</th>
                        <td> {{ weather.periods[0].reading.windSpeed }} kmph</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
    </div>
          <hr class="hr-light mt-1">
          <table class="table">
              <tbody>
                  The wind is strong in the Northern belts.
                </tbody>
                </table>
                <hr class="hr-light mt-1">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>